<!-- navbar -->
<nav class="navbar navbar-main" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <button id="menubar" onclick="toggleSidebar()">
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
    <div class="d-flex gap-3 align-items-center">
      <div class="theme-toggler">
        <span class="material-symbols-outlined">
          dark_mode
        </span>
        <span class="material-symbols-outlined active">
          light_mode
        </span>
      </div>
      <div class="profile">
        <div class="info">
          <p><b>Tính Lê</b></p>
          <small>Admin</small>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/demo.jpg" alt="">
      </div>
    </div>
  </div>
</nav>
<!-- navbar -->