<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="error-container">
        <h1>403 - Access Denied</h1>
        <p>
            <%= message %>
        </p>
    </div>
</body>

</html>