<!-- bottom -->
<div class="main-bottom">
  <div class="main-middle">
    <!-- Mục Danh Sách Chờ Duyệt -->
    <div class="status-list">
      <h2>Bảng phân tích</h2>
    </div>
  </div>
  <div class="main-right"></div>


</div>
<!-- bottom -->