/* sidebar */
aside {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 16rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: none;
  z-index: 3;
}

aside .top {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
}


aside .logo span {
  color: var(--col--greenlight);
}

aside .logo img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

aside .close-menubar {
  display: none;
}

.main-content {
  margin-left: 17.125rem;
  min-height: calc(100vh - var(--height--footer));
}

.main-bottom {
  display: flex;
  margin-top: 1.5rem;
}



.sidebar {
  height: 40em;
  background-color: var(--bg--sidebar);
  border-radius: 5px;
  overflow: hidden;
}

.sidebar h3 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

.sidebar a {
  display: flex;
  transition: var(--trainsition--ease-in);
  gap: 2px;
  align-items: center;
  height: 3.2rem;
  margin: 0 6px;
  color: var(--col--main);
}

.sidebar span {
  transition: var(--trainsition--ease-in);
  font-size: 1.6rem;
  padding: 0 8px;
}

.sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  color: var(--col--danger);
  width: 90%;
}

.sidebar a:last-child:hover {
  background: var(--col--danger);
  border-radius: 66px;
}

.sidebar a.active {
  background-color: var(--col--greenlight);
  margin: 0;
  border-left: 5px solid var(--col--black);
  color: var(--col--white);
}

.sidebar a:not(.active):hover {
  color: var(--text--gray);
  transition: .4s ease;
}

.sidebar a:not(.active):hover span {
  color: var(--text--gray);
  margin-left: 16px;
  transition: .4s ease;
}

.sidebar a.active::before {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--col--greenlight);
}


.sidebar a span.msg_count {
  background-color: var(--col--danger);
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 12px;
  color: var(--col--white);
  margin-left: 6px;
}

/* sidebar */
/* dasshboard main  */

main input {
  background-color: transparent;
  border: 0;
  outline: 0;
  background-color: var(--bg--mainbg);
  padding: 1rem;
}

main .date {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;

}



main .insight {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  gap: 3em;
  flex-wrap: wrap;
}

main .insight>div {
  color: var(--text--main);
  flex: 1;
}

main .insight>div:hover {
  box-shadow: none;
}

main .insight>div span {
  background-color: var(--col--black);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--col--white);
  font-size: 2rem;
}

main .insight>div .middle {
  display: flex;
  justify-content: space-around;
  padding: 8px 12px;
  gap: 10px;
}

main .insight .progressy {
  position: relative;
  height: 60px;
  width: 60px;
}

main .insight .number {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.4rem;
}

main .insight svg {
  height: 150px;
  width: 150px;
  top: 0;
  position: absolute;
}

main .insight svg circle {
  fill: none;
  stroke: var(--col--black);
  transform: rotate(270, 80, 90);
  stroke-width: 5;
}

main .insight .sales svg circle {
  stroke-dashoffset: 10;
  stroke-dasharray: 180;
}

main .insight .expen svg circle {
  stroke-dashoffset: 10;
  stroke-dasharray: 170;
}

main .insight .income svg circle {
  stroke-dashoffset: 10;
  stroke-dasharray: 100;
}

main .recent {
  margin-top: 1rem;
}

main table {
  background-color: var(--col--white);
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--box--shadow);
  transition: all .3s ease;
  padding: 12px;
  text-align: center;
}

main table:hover {
  box-shadow: none;
}

main table tbody tr {
  height: 3rem;
  ;
}

/* dasshboard main  */

/* navbar */
.image img {
  border-radius: 50%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
}

nav button {
  visibility: hidden;
  background-color: transparent;
}


nav .theme-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.8rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 20%;
}

nav .theme-toggler span {
  background-color: var(--col--black);
  font-size: 1.5rem;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--col--white);
}

nav .theme-toggler span.active {
  background-color: var(--col--white);
  color: var(--col--black);
}

nav .info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.navbar {
  position: sticky;
  z-index: 2;
  left: 12px;
  right: 13px;
  top: 0.75rem;
  min-height: 4.6875rem;
  align-items: center;
  background-color: transparent !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 1.25rem;
  box-shadow: var(--box--shadow2);
  backdrop-filter: blur(2.625rem);
  border-color: rgba(226, 232, 240, 0.3);
  border-color: var(--col--gray100);
  margin: 0 6px;
}


/* navbar */

/* Media query */
@media screen and (max-width: 1200px) {

  aside {
    max-width: 4rem;
  }

  .sidebar a:not(.active):hover span {
    color: var(--text--gray);
    margin-left: 3px;
    transition: .4s ease;
  }

  .sidebar a span.msg_count {
    position: absolute;
    right: 1px;
    font-size: 8px;
    padding: 4px;
    margin: 0;
  }

  .main-content {
    margin-left: 5.125rem;
  }

  main .insight {
    flex-direction: column;
  }

  aside .close-menubar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav button {
    visibility: visible;
  }


  aside {
    z-index: 20;
    max-width: 16rem;
    background-color: var(--col--white);
    border-radius: 10px;
    margin: 8px 0;
    left: -290px;
    transition: transform 0.3s ease-in-out;
  }

  aside.open {
    transform: translateX(300px);
  }

  .overlay.show {
    display: block;
  }

  aside h2 {
    font-size: 6px;
  }

  aside .close-menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .main-content {
    margin-left: 0;
    padding: 0.5rem;
  }


  .main-bottom {
    flex-direction: column;
  }

  .sidebar h3,
  aside h5 {
    display: inline;
  }

  .sidebar a span.msg_count {
    position: absolute;
    right: 1px;
    font-size: 8px;
    padding: 4px;
    margin: 0;
  }

  main .insight {
    flex-direction: column;
    margin: 20px;
  }

}

/* Media query */

/* button */
.approve-btn {
  max-width: 100%;
  font-family: Inter, sans-serif;
  font-size: 0.8125rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  cursor: unset;
  vertical-align: middle;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 17px;
  padding-left: 17px;
  color: rgb(252, 184, 89);
  background-color: rgba(252, 184, 89, 0.12);
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(252, 184, 89, 0.7);
  border-image: initial;
  border-radius: 4px;
}

.reject-btn {
  max-width: 100%;
  font-family: Inter, sans-serif;
  font-size: 0.8125rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  cursor: unset;
  vertical-align: middle;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 17px;
  padding-left: 17px;
  color: rgb(252, 184, 89);
  background-color: rgba(252, 184, 89, 0.12);
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(252, 184, 89, 0.7);
  border-image: initial;
  border-radius: 4px;
}

/* button */


/* ***************LOGIN***************** */
.main-content-login {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
  margin: 5em auto;
  display: flex;
}

.company__info {
  background-color: #008080;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.fa-android {
  font-size: 3em;
}

@media screen and (max-width: 640px) {
  .main-content-login {
    width: 90%;
  }

  .company__info {
    display: none;
  }

  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media screen and (min-width: 642px) and (max-width:800px) {
  .main-content-login {
    width: 70%;
  }
}

.row>h2 {
  color: #008080;
}

.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

form {
  padding: 0 2em;
}

.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em .5em .5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all .5s ease;
}

.form__input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, .4);
  border-radius: 4px;
}

.btn {
  transition: all .5s ease;
  width: 70%;
  border-radius: 30px;
  color: #008080;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #008080;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
  background-color: #008080;
  color: #fff;
}

/* ***************LOGIN***************** */